<html>
<head>
<title>Merchant Check Out Page</title>
</head>
<body style="border:5px solid orange">
  <div class="bar bar-header bar-light" style="border:5px solid orange">
            <img src="public/bit.png" style="max-height:100%;max-width:60px">
            <h1 class="title" style="margin-left:80px;margin-top:20px; display: inline">BookInTown</h1>
        </div>
		
	<center><h1><%= status %></h1></center>
    <center><h2> Please save screen for future reference </h2></center>
		<form method="post" name="f1"> 
		<table border="1">
			<tbody>
				
				<tr>
					<td><label>Movie</label></td>
					<td><label>aaaaaaaaaaaaaaaaaaaaaaaaaaaa </label></td>
				</tr>
				<tr>
					<td><label>Theatre Name</label></td>
					<td><label>aaaaaaaaaaaaaaaaaaaaaaaaaaaa </label></td>
				</tr>
				<tr>
					<td><label>Date</label></td>
					<td><label>aaaaaaaaaaaaaaaaaaaaaaaaaaaa </label></td>
				</tr>
				<tr>
					<td><label>Show Time</label></td>
					<td><label>aaaaaaaaaaaaaaaaaaaaaaaaaaaa </label></td>
				</tr>
				<tr>
					<td><label>Seats</label></td>
					<td><label>aaaaaaaaaaaaaaaaaaaaaaaaaaaa </label></td>
				
				
				
			
			</tbody>
		</table>

	</form>
	 <a href="/close" ><button>Close</button></a>
	
</body>
</html>